*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

.main{
    width: 80%;
    margin: 0 auto;
    border: solid black 1px;
    padding: 30px;
}

h1{
    display: flex;
    justify-content: center;
    color: coral;
}

.title{
    color: white;
    padding: 0px;
    margin: 0 auto;
}

.subtitle{
    font-size: 15px;
    margin: 0 auto;
}

.bg-blue{
    background-color: blue;
}